body{
    overflow-x: hidden;    
}
.filter {    
    position: relative;
    padding-left: 15px;
    left: 5px;
    width: 350px;
    height: 100%;
    float: left;
    background-color: rgba(0, 0, 0, 0.84); 
    color: white;   
}

/* #search-bar-pane{
    margin: 0 auto;
    width: 60%;
    height: 60px;
} */
.searchResultsArea{
    background-color: aqua;    
}
#searchForm{
    margin-top: -12px;
    color: #FFFFFF;    
}
.searchHeader{
    font-size: larger;
    color: orange;
}
.myRadio{
    margin-left: 24px;
}
#body{
    margin-left: -5px;
}
#container{
    margin-top: -18px;
}
#search-bar {
    width: 100%;
    float:right;
    height: 54px;
    font-size: 14pt;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* padding-top: 20px; */
    border: 2px solid orange;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;    
    padding-left:10px;
}
#display{
    width: 60%;
    display: block;
    position: relative;
    position: relative;
    border: 1px solid orange;
    left: 360px;
    top: -420px;
    background-color: yellow;
}
#search-button{
    border: 2px solid orange;
    background-color: #FFFFFF;
    /* margin-left: auto;     */
    /* left: -12px; */
    height: 54px;
    width: 64px;
    margin-left: 0px;
    margin-right:0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#result-table{
    width: 100%;
    border-collapse: collapse;
}
#result-table td{
    border: 1px solid #DDDDDD;
    text-align: Center;
    padding: 5px;
}
#table-header{
    font-weight: bold;
    color: orange;
}
.numericInput{        
    border: none;
    background: transparent;
    width: 25px;
    text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
